---
import GitHubIcon from "./icons/GitHubIcon.astro";
const PROYECTS = [
    {
        title : "Food ordering ",
        desciption:"This is a food ordering app",
        link:"",
        github:"",
        image:"https://d24a06rmrvoemw.cloudfront.net/wp-content/uploads/2020/12/Thumbnail_FoodTech-2.png",
    },
    {
        title: "React ecomerce",
        desciption:"This is React Ecomerce",
        link:"",
        github:"",
        image:"https://miro.medium.com/v2/resize:fit:1400/1*eWbNRY_UnGFJC5YqcqBSwA.jpeg"
    },
    {
        title: "TrabajoUy",
        desciption:"This is a job search Fullstack web sitie made with java",
        github:"",
        image:"https://www.trabajando.com.uy/images/empresa"
    }
]
---
<div class="grid  grid-cols-1 md:grid-cols-2 lg:grid-cols- gap-4 ">
{
    PROYECTS.map((proyect) => {
        return(
        <article class="flex flex-col border border-green-800 proyect p-4 rounded-2xl">
            <h4 class="md:text-4xl m-1 mb-2 text-green-600">{proyect.title}</h4>
            <p class="text-xl m-2 mb-4">{proyect.desciption}</p>
            <a href={proyect.github} class=" flex items-center text-2xl font-bold m-2  rounded-full gap-x-1 mb-10
            transition-transform  duration-300 text-green-300 hover:scale-105">
                <GitHubIcon />
                Repo
            </a>
            <img class="w-600" src={proyect.image} alt={proyect.title} class="w-full h-auto rounded p-3">
        </article>
        )
    })
}
</div>
